include ./abstrab/variables.pug

mixin promo(classname, description, price)
    div(class=classname): .text-sect
        each data in description
            p=data
        h3=price 


doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Menu #{name}
        link(rel="stylesheet", href="animate.css")
        link(rel="stylesheet", href="style.css")
        
    body 
        #loading-screen: img(src="img/logo.png", alt="", srcset="")
        .menu#main
            .d-flex.justify-content-center: img.img-fluid.logo(src="./img/logo.png")

            .d-flex.justify-content-center.map.wow.rotateInDownRight: img.img-fluid(src="./img/map.png")


            h1 Menu
            .section-entrada.endwra
                h1 Entradas
                .entradas.wow.slideInRight
                    img.img-fluid(src="./img/fries.png", alt="")
                    .text
                        h2 PAPAS FRITAS
                        h2: span #{papasFritas}
                .entradas.wow.slideInLeft
                    img.img-fluid(src="./img/onions.png", alt="")

                    .text
                        h2 Aros de CEBOLLA
                        h2: span #{arosdecebolla}
                .entradas.wow.slideInRight
                    img.img-fluid(src="./img/muzzarela.png", alt="")
                    .text
                        h2 BASTONES <br> DE MUZZARELLA
                        h2: span #{bastondemuzzarela}
                .entradas.wow.slideInLeft
                    img.img-fluid(src="./img/slice.png", alt="")
                    .text
                        h2 SLICE CHEESE
                        h2: span #{slicecheece}

            h1.my-5 Promos
            .promos 
                +promo("a", ["2 EG20 Dobles","+ porcion de papas"], Promocost[0])
                +promo("b", ["2 Dobles a eleccion","+ porcion de papas"], Promocost[1])
                +promo("c", ["2 slice cheese","+ bastones de muzzarela"], Promocost[2])
            
            .section-entrada.unla.endwra: .row.make3
                .col-3: img.img-fluid(src="img/bur.png", alt="", srcset="")
                .col-8 
                    h3 Hacela triple 
                    p Extra carne + extra queso x2 #[strong #{matriple}]

            .veggie 
                h1 ARROZ
                p Medall贸n de arroz yamani con cabutia + Tomate + Lechuga <br> + Salsa mil islas + Cebolla caramelizada +Queso a elecci贸n (Cheddar o Danbo)
                
                h2 #[span Simple] #{arroz}


                img.img-fluid.burguer(src="img/Vegui.png", alt="", srcset="")
                img.tick(src="img/Stick.png", alt="", srcset="")
                img.player.wow.fadeIn(src="img/Veguiman.png", alt="" data-wow-delay="2s")

            
            
            
            .section-entrada
                .row.justify-content-between.align-items-center.manu
                    .col-4
                        h4 Simple 
                        h2 #{egSimple}
                        hr
                        h4 Doble 
                        h2 #{egdoble}
                    .col.prod
                        img.img-fluid(src="img/m.png", alt="", srcset="")
                        .text-center
                            h3 EG#[span 20]
                            p Medall贸n #[br] + Cheddar X2
            
                    img.player.wow.slideInRight(src="img/manu.png", alt="")

                .mt-5.px-4.text-center 
                    img.img-fluid(src="img/sc30.png", alt="", srcset="")
                    .sc30 
                        h3 SC#[span 30]
                        p Pan de papa + Carne + cheddar + 2 bastones de muzza + cebolla morada + ketchup + mostaza.        
            
                .divsc
                    h3 #[small simple] #{scsimple} #[small doble] #{scdoble}
                    h3 #[small simple] #{scsimple} #[small doble] #{scdoble}
                    h3 #[small simple] #{scsimple} #[small doble] #{scdoble}
                   
                .dr 
                    img.img-fluid(src="img/DR.png", alt="", srcset="")
                    img.img-fluid.drp(src="img/DRp.png", alt="", srcset="")
                    h3 #[span DR]90
                    p Medall贸n +Cheddar + Queso ahumado + Hongos +Cebolla crispy + Mostaza dulce


            img.tape(src="img/tape.png", alt="")

            .lakers 
                
                img.img-fluid.wow.fadeInRightBig(src="img/kb.png", alt="", srcset="")
                .pricelakers.wow.flipInX(data-wow-duration="2s")
                    div
                        h4 Simple 
                        h2 #{kbsimple}
                    div
                        h4 Doble
                        h2 #{kbdoble}

                img.img-fluid.wow.fadeInRightBig(src="img/lbj.png", alt="", srcset="")

            .bulls 
                img.jordan.wow.slideInLeft(src="img/jordan.png", alt="")
                img.img-fluid(src="img/mj30.png", alt="", srcset="")
            
            .divsc
                h3 #[small simple] #{mjsimple} #[small doble] #{mjdoble}
                h3 #[small simple] #{mjsimple} #[small doble] #{mjdoble}
                h3 #[small simple] #{mjsimple} #[small doble] #{mjdoble}
            .hits 
                img.img-fluid(src="img/cb1.png", alt="alt")
               
       
        include ../pluguins/wow.pug